[submodule "OCDSpec"]
	path = OCDSpec
	url = git@github.com:ericmeyer/OCDSpec.git
[submodule "cslim"]
	path = cslim
	url = git@github.com:dougbradbury/cslim.git
[submodule "SpecKit"]
	path = SpecKit
	url = https://github.com/sdegutis/SpecKit.git
